<div class="widget widget_upcoming_events">{% load static %}
	<h3 class="widget-title">ДИРЕКТОР БЛОГЫ</h3>
	<ul>
		<li class="has-thumb">

			<div class="event-container">

				<div class="event-media">
					<div class="item-overlay">
						<img src="{% static 'images/director.png' %}" alt="" style="height: auto;">
					</div>

					<div class="event-content with-excerpt">
						<h4 class="event-title">
							<a href="{% url 'news:about_view' %}">Махметова Айгуль Аблановна</a>
						</h4>

						<div class="event-text">
							Мектеп директоры
						</div>

					</div>
				</div>
			</div>

		</li>
	</ul>

</div>