<div id="categories-2" class="widget widget_categories">
	<h3 class="">Жедел сілтемелер</h3>
	<ul>
		<li class="cat-item">
			<a href="news.html">СЫБАЙЛАС ЖЕМҚОРЛЫҚҚА ҚАРСЫ ІС-ҚИМЫЛ CALL-ОРТАЛЫҒЫ: 1424</a>
		</li>
		<li class="cat-item">
			<a href="news.html">ҚР ПРЕЗИДЕНТІНІҢ ЖОЛДАУЫ</a>
		</li>
		<li class="cat-item">
			<a href="news.html">Қазақстан Республикасы Ішкі істер министрлігі</a>
		</li>
		<li class="cat-item">
			<a href="news.html">Қазақстан Республикасының Электрондық үкіметі</a>
		</li>
	</ul>
</div>