{% extends 'base.html' %}
{% load static %}{% block title %}Біз жайлы{% endblock %}
{% block content %}
<div class="large-12 columns">
    <div class="page-title">
        <h1> Директор блогы</h1>

        <div class="breadcrumbs">
            <a href="{% url 'news:HomeView' %}" title="">Басты бет</a>             Директор блогы
        </div>
        <!--/ .breadcrumbs-->
    </div>
</div>
<div id="main" class="medium-8 large-8 columns">
	<h2>РЕЗЮМЕ</h2>
	<img class="alignleft" width="350" height="300" alt="" src="{% static 'images/director.png' %}">
	<p>
		<b>Информация о личности:</b>   Махметова Айгуль Аблановна <br>

		<b>Возраст/Дата рождения:</b> 02.08.1973<br>

		<b>Телефон, эл. почта (личная):</b> +77479077310, Makhmetova.aygul@bk.ru<br>
		<b>Гражданство, адрес проживания:</b> Алматинская область, Панфиловский район, город Жаркент, ул. Ляна 93<br>
		<b>Семейное положение: </b> замужем<br>
		<b>Основное место работы, занимаемая должность:</b> Жаркентский высший гуманитарно-технический колледж, преподаватель специальных дисциплин, заведующая кафедрой педагогики и психологии.<br>
		<b>Специальность по диплому, преподаваемая дисциплина:</b> преподаватель педагогики и психологии, методист<br>
		<b>Общий стаж/стаж на занимаемой должности: </b>25<br>


	</p>
	<hr>

	<p>
		<h3 class="">Ключевые навыки: </h3>
		<ul class="list">
			<li>•	Использование собственных методик проведения занятий</li>
			<li>•	Навыки организации учебного процесса;</li>
			<li>•	Знание педагогики и психологии преподавания;</li>
			<li>•	Осуществление самостоятельных исследований, написание научных работ;</li>
			<li>•	Опыт проведения семинаров;</li>
		</ul>
	</p>

	<h3 class="">Қосымша</h3>
	<ul class="accordion">
		<li class="accordion-navigation">
			<a href="about.html#" class="acc-trigger" data-mode="">Достижения </a>

			<div class="content">
				2020 г. – VI Республиканская научно-практическая конференция «Жастар, ғылым және инновация» Ержанқызы Айжан – I место,  <br>
				2020 г. – «WorldSkills» Талдыкорган, региональный чемпионат, Ержанқызы Айжан - III место;<br>
				2017 г. – Республиканская педагогическая олимпиада «Талантливый учитель одаренным детям», команда студентов – I место.<br>
				Опыт работы (в том числе в качестве тренера): 20<br>
				Образование: высшее<br>

			</div>
		</li>
		<li class="accordion-navigation">
			<a href="about.html#" class="acc-trigger" data-mode="">Повышение квалификации: </a>

			<div class="content">
				2022г. - TALAP, для  внештатных  тренеров и привлеченных  специалистов НАО «TALAP» по  программе «Педагог  системы  технического и  профессионального, послесреднего  образования: совершенствование  трудовых  функций» 16 ч.<br>
				2020 г. – TALAP, курсы повышения квалификации инженерно-педагогических работников и руководителей организаций технического и профессионального, послесреднего образования по международным требованиям на тему: «Основные аспекты процесса организации и проведения региональных чемпионатов по стандартам WorldSkills», 72 часа.<br>
				2020 г. – НИШ, курсы по образовательной программе повышения квалификации преподавателей колледжей «Обновление содержания среднего образования Республики Казахстан», 80 часов.<br>
				2020 г. – TALAP, «Педагогтердің IT-құзіреттіліктерін дамыт және жетілдіру» 36 часов.<br>
				2020 г. – НИШ, «Қашықтықтан оқытуды үйренемін», 40 часов.<br>
				2019г. – «Кәсіпқор», курсы повышения квалификации инженерно-педагогических работников и руководителей организаций технического и профессионального, послесреднего образования по международным требованиям на тему: «Реализация образовательных программ прикладного бакалавриата в организациях технического и профессионального, послесреднего образования», 72 часа.<br>
				2018 г. – НИШ, курсы обучения тренеров по образовательной программе повышения квалификации педагогических кадров по предметам начальных классов в рамках обновления содержания среднего образования, разработанной ЦПМ АОО «НИШ», 120 часов.<br>
				Публикации, научные труды, изобретения, государственные награды, поощрения, грамоты:<br>
				2017 г. – «Ең таңдаулы арнайы пән оқытушысы» - I дәріжелі диплом.<br>
				2017 г. – НААР, семинар-тренинг «Разработка системы обеспечения качества обазования в организации технического и  профессионального образования».<br>
				2018 г. – Алматы облысының білім басқармасының Құрмет грамотасы,<br>  
				2018 г. – Алматы Облыстық филиалы «Нұр Отан» партиясының – Диплом.<br>
				2018 г. – ҚР Білім және ғылым министрлігінің «Дарын» ғылыми-практикалық орталығы – Алғыс хат.<br>
				2018 г. – Республикалық «ДЕМЕУ» кәсіподақ ұйымының «Үздік қызметкер» медалі.<br>
				2019, 2022 г. – ҚР Білім және ғылым министрлігінің Құрмет грамотасы<br>
				2019 г. – Облыстық «Заманауи сабақ – педагогтың кәсіби өсуінің көрсеткіші» үздік сабақтар фестивалінде – I орын,<br>
				2019 г. – Жаркент жоғары гуманитарлық-техникалық колледжі – педагогикалық оқуда – «Үздік баяндамашы»,<br>
				2019 г. – Жаркент жоғары гуманитарлық-техникалық колледжі – педагогикалық оқуда – «Үздік модератор»,<br>
				2020 г. -   VI Республиканская научно-практическая конференция «Жастар, ғылым және инновация» – Грамота, <br>
				2020 г. – Международная научно-практическая конференция – Грамота.<br>
				2020 г. – «Алматы облысының білім басқармасы» «Бәсекеге қабілетті мамандарды даярлауға көмектесетін оңтайлы оқу әдістері» - Сертификат.<br>
				2020 г. – «Алматы облысының білім басқармасы» «Қашықтықтан оқыту жағдайында іс-тәжірибесімен бөліскені үшін» - Сертификат.<br>
				2020 г. – Жаркент жоғары гуманитарлық-техникалық колледжі – педагогикалық оқуда «белсенді азаматтық ұстанымды, көшбасшылық қабілетті сапалы білімге, қолжетімділікке бағыттау»  – Сертификат.<br>
				2022г. –  І.Жансүгіров  атындағы  Жетісу  университетінің «Zhansugurov  college» ұйымдастырған  «Бастауыш  білім  беру» мамандығы  бойынша  аймақтық  студенттік  олимпиадаға  жас  ұрпақты тәрбиелеуде  жеткен жетістігі үшін  Алғыс  хат<br>
				2022г. Алматинский государственный  гуманитарно-педагогический  колледж №2 за  подготовку  призеров ІІІ  Научно-практической  конференции  с  международным  участием «Образование  традиции  и  инновации»  Гран При,   Благодарственное  письмо<br>
				2022г.  Қазақ  ұлттық  қыздар  педагогикалық  университеті Үздік  шәкір  дайындағаны  үшін  Алғыс  хат.<br>
				2022г. Жетісу  университеті «Жаңа  Қазақстанағы  білім  беру  қызметін  көрсету – маман  келбеті» рсепубликалық  ғылыми-практикалық  конференция  Алғыс  хат.<br>
				2022г. Қарағанды  облысы  білім  беруді  дамытудың  оқу-әдістемелік  орталығы  Халықаралық  жәрменке  Үздік  жоба.  Мадақтама<br>
				2022г. Инновации  в  педагогике республиканский  научно-методический  журнал №5  «Внедрение  демонстрационного  экзамена-драйвер  новой  экономики» (стр 25)- Сертификат .<br>
				2022г  Сбрник  материалов  республиканской  научно-практической  конференции «Оказание  образовательных  услуг  в  новом  Казахстане  определяет облик специалиста»<br>
				2022г. Алматы  облысыныңи  білім  басқармасы Құрмет  грамотасы.

			</div>
		</li>
		<!-- <li class="accordion-navigation">
			<a href="about.html#" class="acc-trigger" data-mode="">Commodo feugiat quos iaculis</a>

			<div class="content">
				Commodo feugiat quos iaculis, facere, hac, feugiat voluptatem lobortis ornare, alias
				adipiscing! Adipisicing natus, dictumst euismod, minim exercitationem, sociis
				nonummy aliquam. Adipisci eum nihil dicta interdum maxime minus accusantium diam.
			</div>
		</li> -->
	</ul>
</div>
<aside id="sidebar" class="medium-4 large-4 columns">
    {% include 'include/sidebar-area.html' %}
    
    <!--/ .widget_upcoming_events-->


    <div class="widget widget_events_calendar">
        <h3 class="widget-title">Ауа райы</h3>
        {% include 'include/pogoda.html' %}
    </div>
</aside>



{% endblock %}  
