{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<!-- Basic Page Needs
	  ================================================== -->
	<meta charset="utf-8"/>
	<title>Система безопасности АО МУИТ</title>
	<meta name="description" content="Система идентификации угроз информационной безопасности">
	<meta name="author" content="АО МУИТ">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>

	<!-- Google Web Fonts
	================================================== -->
	<!-- <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700,500,400%7cCourgette%7cRoboto:400,500,700%7CIndie+Flower:regular%7COswald:300,regular,700&amp;subset=latin%2Clatin-ext'
		  rel='stylesheet' type='text/css'> -->

	<!-- Theme CSS
	================================================== -->
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/layout.css' %}"/>

	<!-- Vendor CSS
	================================================== -->
	<link rel="stylesheet" href="{% static 'css/vendor.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/fontello.css' %}"/>
	<link rel="stylesheet" href="{% static 'js/vendor/layerslider/css/layerslider.css' %}"/>

	<!-- Modernizr
	================================================== -->
	<script src="{% static 'js/vendor/jquery.modernizr.js' %}"></script>

</head>
<body class="">
<div class="tmm_loader">
	<div class="logo">
		<span class="tmm_logo">
			<a title="Political HTML5 Theme" href="home.html"><img style="width:120px" src="{% static 'images/logo.png' %}" alt=""></a>
		</span>
	</div>

	<div class="loader">
		<div id="spinningSquaresG">
			<div id="spinningSquaresG_1" class="spinningSquaresG"></div>
			<div id="spinningSquaresG_2" class="spinningSquaresG"></div>
			<div id="spinningSquaresG_3" class="spinningSquaresG"></div>
			<div id="spinningSquaresG_4" class="spinningSquaresG"></div>
			<div id="spinningSquaresG_5" class="spinningSquaresG"></div>
			<div id="spinningSquaresG_6" class="spinningSquaresG"></div>
			<div id="spinningSquaresG_7" class="spinningSquaresG"></div>
			<div id="spinningSquaresG_8" class="spinningSquaresG"></div>
		</div>
	</div>
</div>
	
<div id="wrapper">

	<!-- - - - - - - - MOBILE MENU - - - - - - - -->

	<nav id="mobile-advanced" class="mobile-advanced"></nav>

	<!-- - - - - - - - END MOBILE MENU - - - - - - - -->


	<!-- - - - - - - - HEADER - - - - - - - -->

	<header id="header" class="header type-3">

		<div class="header-top">

			<div class="row">

				<div class="large-12 columns">
					<ul class="social-icons">
						<li class="twitter">
							<a target="_blank" href="https://twitter.com/ThemeMakers">Twitter</a>
						</li>
						<li class="facebook">
							<a target="_blank" href="http://www.facebook.com/wpThemeMakers">Facebook</a>
						</li>
						<li class="linkedin">
							<a target="_blank" href="http://linkedin.com/">Linkedin</a>
						</li>
						<li class="pinterest">
							<a target="_blank" href="http://pinterest.com/">Pinterest</a>
						</li>
						<li class="gplus">
							<a target="_blank" href="http://plus.google.com/">Google Plus</a>
						</li>
						<li class="instagram">
							<a target="_blank" href="http://instagram.com/">Instagram</a>
						</li>
						<li class="dribbble">
							<a target="_blank" href="http://dribbble.com/">Dribbble</a>
						</li>
					</ul>
					<!--/ .social-icons-->
				</div>

			</div>
			<!--/ .row-->

		</div>
		<!--/ .header-top-->

		<div class="header-middle">

			<div class="row">

				<div class="large-12 columns">
					<div class="header-middle-entry">

						<div class="logo">
							<span class="tmm_logo">

								<a title="Система безопасности АО МУИТ" href="" style="font-size: 20px;">
									<img style="width:120px" src="{% static 'images/logo.png' %}" alt="">
									<b>Система безопасности АО МУИТ</b>
								</a>
							</span>
						</div>

						<div class="account">
							{% if user.is_authenticated %}
							<a href="{% url 'account:logout' %}" class="login-btn" style="display: flex; flex-direction: column; height: 40px; line-height: 20px;">
								    	<span style="display: block;">
								    		<i class="fa fa-sign-out" aria-hidden="true"></i>{{user}}
								    	</span>
								    	<span style="font-size:11px;color: red;display: block;">Выйти</span></a>
							{% else %}
							<ul>
								<li data-login="loginDialog" class="lock"><a href="{% url 'account:login' %}">Вход</a></li>
								<li data-account="accountDialog" class="user"><a href="{% url 'account:login' %}">Регистрация</a></li>
							</ul>
							{% endif %}


						</div>
					</div>

				</div>

			</div>
			<!--/ .row-->

		</div>
		<!--/ .header-middle-->

		<div class="header-bottom">

			<div class="row">

				<div class="large-12 columns">

					<nav id="navigation" class="navigation top-bar" data-topbar>

						<div class="menu-primary-menu-container">

							<ul id="menu-primary-menu" class="menu">
								
								<li class="current_page_item"><a href="{% url 'news:HomeView' %}">Главная</a></li>
								<li><a href="{% url 'news:post_list' %}">Угрозы</a></li>
								<li><a href="contact.html">Инциденты</a></li>
								<li><a href="contact.html">Отчеты</a></li>
								<li><a href="{% url 'news:contact_view' %}">Контакты</a></li>
							</ul>
						</div>
						<div class="search-form-nav">
							<form method="get" action="home.html#">
								<fieldset>
									<input placeholder="Поиск" type="text" name="s" autocomplete="off" value=""
										   class="advanced_search"/>
									<button type="submit" class="submit-search">Поиск</button>
								</fieldset>
							</form>
						</div>
						<a target="_blank" href="donations.html" class="button large donate">Donate</a>

					</nav>
					<!--/ .navigation-->

				</div>

			</div>
			<!--/ .row-->

		</div>
		<!--/ .header-bottom-->

	</header>
	<!--/ #header-->

	<!-- - - - - - - -  END HEADER  - - - - - - - -->


	<!-- - - - - - - - MAIN  - - - - - - - -->

	<main id="content" class="row sbr">
		{% block content %}
        
        {% endblock %} 
		
		<!--/ #sidebar-->

	</main>
	<!--/ #content -->

	<!-- - - - - - - - END MAIN - - - - - - - -->

	<!-- - - - - - - - FOOTER - - - - - - - -->

	<footer id="footer">

		<div class="footer-top">

			<div class="row">

				<div class="large-12 columns">

					<div id="text-2" class="widget widget_text">
						<h3 class="widget-title">Система безопасности АО МУИТ</h3>


					</div>

				</div>


			</div>
			<!--/ .row-->

		</div>
		<!--/ .footer-top-->

		<div class="footer-bottom">

			<div class="row">

				<div class="large-12 columns" style="text-align: center;">
					<div class="copyright">
						© 2024 АО МУИТ. Все права защищены
					</div>
				</div>

	

			</div>
			<!--/ .row-->

		</div>
		<!--/ .footer-bottom-->

	</footer>
	<!--/ #footer-->

	<!-- - - - - - - - END FOOTER - - - - - - - -->

</div>
	



<script src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
<!--[if lt IE 9]>
<script src="js/vendor/respond.min.js"></script>
<script src="js/vendor/jquery.selectivizr.min.js"></script>
<![endif]-->

<!--<script src="js/vendor/mediaelement/mediaelement-and-player.min.js"></script>-->
<script src="{% static 'js/vendor/widgets/twitterFetcher_min.js' %}"></script>
<script src="{% static 'js/vendor/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/vendor/plugins.js' %}"></script>
<script src="{% static 'js/vendor/modals.js' %}"></script>


<!-- External libraries: GreenSock
================================================== -->
<script src="{% static 'js/vendor/layerslider/js/greensock.js' %}" type="text/javascript"></script>

<!-- LayerSlider script files
 ================================================== -->
<script src="{% static 'js/vendor/layerslider/js/layerslider.transitions.js' %}" type="text/javascript"></script>
<script src="{% static 'js/vendor/layerslider/js/layerslider.kreaturamedia.jquery.js' %}" type="text/javascript"></script>

<!-- Theme Base, Components and Settings
================================================== -->
<script src="{% static 'js/config.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>


	
</body>
</html>