{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="section padding-off columns medium-12 large-12 background-color-off">
	<img src="{% static 'images/2137937753-01.jpg' %}" class="ls-bg" alt="slide-1"/ style="height:500px; width: 100%;">
</div>

<div class="medium-12 large-12 columns">

	<ul class="block-with-icons">
		<li>
			<a href="">
				<i class="">50</i>
				<h5>Кабинет</h5>
			</a>
		</li>
		<li>
			<a href="">
				<i class="">182</i>
				<h5>Мұғалімдер</h5>
			</a>
		</li>
		<li>
			<a href="">
				<i class="">1500</i>
				<h5>Оқушылар</h5>
			</a>
		</li>
	</ul>

</div>

<section id="main" class="medium-8 large-8 columns">

	<div class="section padding-off columns medium-12 large-12 background-color-off">

		<div class="row">

			<div class="relative">
				<h2 class="section-title">Соңғы жаңалықтар</h2>

				<div class="row post-list two-cols">

					{% for post in posts %}
					<article class="medium-6 large-6 columns">

						<div class="post border post-alternate-1 slideUp">

							<div class="entry-media">

								<a href="{% url 'news:post_detail' post.id %}" class="image-post item-overlay ">
									<img src="{{ post.image.url }}" alt=""/>
								</a>

								<header class="entry-header">
									<h3 class="entry-title"><a href="">{{post.title}}</a></h3>
								</header>

							</div>

							<div class="entry-content">
								<p>
									{{ post.content|truncatechars:50 }}
								</p>
							</div>

							<footer class="entry-footer">

								<div class="left">
									<span class="cat-links">
										<a href="{% url 'news:post_detail' post.id %}" rel="category tag">Толығырақ</a>
									</span>
								</div>

								<div class="right">
									<span class="posted-on"><a href="">{{ post.pub_date }}</a></span>

							</footer>

						</div>
						<!--/ .post-extra-->

					</article>

					{% endfor %}

				</div>
				<!--/ .post-area-->


			</div>

		</div>

	</div>
	<!--/ .section -->


</section>

<aside id="sidebar" class="medium-4 large-4 columns">
	{% include 'include/sidebar-area.html' %}

	
	{% include 'include/NEWSLETTER.html' %}


	
	<!--/ .widget_upcoming_events-->


	<div class="widget widget_events_calendar">
		<h3 class="widget-title">Ауа райы</h3>
		{% include 'include/pogoda.html' %}
	</div>
</aside>



{% endblock %}  