{% extends 'base.html' %}
{% load static %}
{% block title %}Жаңалықтар тізімі{% endblock %}
{% load news_tags %}
{% block content %}

<div class="large-12 columns">
    <div class="page-title">
        <h1>Жаңалықтар тізімі</h1>

        <div class="breadcrumbs">
            <a href="{% url 'news:HomeView' %}" title="">Басты бет</a> Жаңалықтар
        </div>
        <!--/ .breadcrumbs-->
    </div>
</div>
<div id="main" class="medium-8 large-8 columns">
    <div id="post-area">
        {% for post in page_obj %}
        <article class="post full-width slideUp2xRun">

            <a href="{% url 'news:post_detail' post.id %}" class="image-post item-overlay ">
                <img src="{{ post.image.url }}" alt="">
            </a>

            <header class="entry-header">
                <h2 class="entry-title">
                    <a href="">{{ post.title }}</a>
                </h2>
            </header>

            <div class="entry-content">
                <p>
                    {{ post.content|truncatechars:200 }}...
                </p>
            </div>

            <footer class="entry-footer">

                <div class="left">
                    <span class="cat-links"><a href="{% url 'news:post_detail' post.id %}" rel="category tag">Толығырақ</a></span>
                </div>

                <div class="right">
                    <span class="posted-on"><a href="">{{ post.pub_date }}</a></span>
                    <span class="byline"><a href="">{{ post.author }}</a></span>
                    <span class="comments-link"><a href="">{{ post.views }}</a></span>
                    <a class="post-like like-qty voted" data-post_id="154" href=""><span class="vote-count">{% coment_count post.id %}</span></a>
                </div>

            </footer>

        </article>
        {% endfor %}
    </div>
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; Бірінші бет</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">алдыңғы бет</a>
                </li>
            {% endif %}

            <li class="page-item"><a class="page-link" href="">
                 {{ page_obj.number }} беттің  {{ page_obj.paginator.num_pages }}-і
            </a></li>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">келесі бет</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Соңғы бет &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
<aside id="sidebar" class="medium-4 large-4 columns">
    {% include 'include/sidebar-area.html' %}

    
    {% include 'include/NEWSLETTER.html' %}


    
    <!--/ .widget_upcoming_events-->


    <div class="widget widget_events_calendar">
        <h3 class="widget-title">Ауа райы</h3>
        {% include 'include/pogoda.html' %}
    </div>
</aside>



{% endblock %}  
