{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class="large-12 columns">

	<div class="page-title">
		<h1>Жаңалықтар</h1>

		<div class="breadcrumbs">
			<a href="{% url 'news:HomeView' %}" title="">Басты бет</a>
			<a href="{% url 'news:post_list' %}" title="View all posts in Economics">Жаңалықтар</a>
			{{post.title}}
		</div>
	</div>

</div>
<div id="main" class="medium-8 large-8 columns">
	<div class="post full-width">

		<img src="{{post.image.url}}" alt="Congue iure curabitur incididunt consequat">

		<header class="entry-header">
			<h2 class="entry-title">{{post.title}}</h2>

			<div class="entry-meta">
				<span class="posted-on"><a href="">{{ post.pub_date }}</a></span>
	            <span class="byline"><a href="">{{ post.author }}</a></span>
	            <span class="comments-link"><a href="">{{ post.views }}</a></span>
	            <a class="post-like like-qty voted" data-post_id="154" href=""><span class="vote-count">{{ comment_count }}</span></a>
			</div>
		</header>

		<div class="entry-content">

			<p>{{post.content}}</p>
		</div>

		<div class="section section-content">

			<!-- - - - - - - - POST COMMENTS - - - - - - - -->

			<section  class="respond-comments">
				<h2 class="comments-title">Пікірлер</h2>

				<ol class="comments-list">

					<li class="comment">
						{% for comment in comments %}
							{% if comment %}
							<article>

								<div class="avatar">
									<img alt="" src="{% static 'images/f7b924620556687f7c795aab0c319b60.png' %}" class="avatar avatar-70 photo" height="70" width="70"></div>
								<!--/ .gravatar-->

								<div class="comment-body">

									<div class="comment-meta">
										<div class="comment-author">
											<h6>{{ comment.user.username }}</h6>
										</div>
										<div class="comment-date">{{ comment.pub_date }}</div>
										<a class="comment-reply-link" href="single-post.html#" aria-label="Reply to Alex TM">Reply</a>
									</div>
									<!--/ .comment-meta -->

									<p>
										{{comment.text}}
									</p>

								</div>
								<!--/ .comment-body -->

							</article>
							{% else %}
	                            Пікірлер жоқ
	                        {% endif %}
	                    {% endfor %}
					</li>
					<!-- #comment-## -->
				</ol>

			</section>
			<!--/ #comments-->

			<!-- - - - - - - - END POST COMMENTS - - - - - - - -->


			<!-- - - - - - - - COMMENT FORM - - - - - - - -->

			<div id="respond" class="comment-respond">
				<h3 id="reply-title" class="comment-reply-title">Пікірлер қалдыру</h3>

				<form action="" method="post" id="commentform" class="comment-form">
					{% csrf_token %}
					<p class="comment-form-comment">
						<textarea cols="30" rows="10" required="" id="comment" name="{{ comment_form.text.name }}"  placeholder="Хабарлама *"></textarea>
					</p>

					<p class="form-submit">
						<input name="submit" type="submit" id="submit" class="submit" value="Пікір қалдыру">
					</p>
				</form>
			</div>
			<!-- #respond -->

			<!-- - - - - - - - END COMMENT FORM - - - - - - - -->

		</div>
	</div>
</div>
<aside id="sidebar" class="medium-4 large-4 columns">
    {% include 'include/sidebar-area.html' %}

    
    {% include 'include/NEWSLETTER.html' %}


    
    <!--/ .widget_upcoming_events-->


    <div class="widget widget_events_calendar">
        <h3 class="widget-title">Ауа райы</h3>
        {% include 'include/pogoda.html' %}
    </div>
</aside>

{% endblock %}  
